html, body {
	display:block;
	height:100vh;
	width:100vw;
	max-height:100%;
	max-width:100%;
	padding:0;
	margin:0;
	font-family:'Roboto Condensed', sans-serif, arial;
}
#app {
	display:flex;
	width:inherit;
	height:inherit;
}

#sidebar-wrapper {
	position:relative;
	min-width:234px;
	font-size:16px;
	color:rgb(250, 250, 250);
	background-color:#29333f;
	overflow-y:auto;

	&.collapsed {
		width:42px;
	}

	div {

		> div {
			display:none;
			position:absolute;
			left:233px;
		}

		&:hover {
			> div {
				display:block;
			}
		}
	}

	a {
		display:block;
		padding:14px;
		margin:2px 0;
		color:#fff;

		&:hover {
			background-color:#78ba16;
		}
	}

	.divide {
		width:90%;
		margin:7px 5%;
		height:1px;
		background-color:rgb(50, 67, 75);
	}
}
#content-wrapper {
	font-size:14px;
	flex-grow:1;
	overflow:auto;
}

