@import "import/mixins";
@import "import/fonts";
@import "import/common";

body {
	height:100vh;
	width:100vw;
}

#app {
	height:inherit;
	width:inherit;

	.central {
		display:table;
		height:100%;
		width:100%;

		> div {
			display:table-row;

			.login {
				display:table-cell;
				text-align:center;
				vertical-align:middle;

				form {
					display:inline-block;
					min-width:300px;
					width:75%;
					max-width:800px;
				}

				.form-horizontal .form-group {
					margin:7px 0;
				}

				.panel {
					display:inline-block;
					width:50%;
					min-width:320px;
				}
			}
		}
	}
}

